@font-face {
  font-family: 'EurostileRegular';
  src: url('../fonts/EurostileRegular.woff') format('woff'),
       url('../fonts/EurostileRegular.ttf') format('truetype'),
       url('../fonts/EurostileRegular.svg#EurostileRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'eurosti';
  src: url('../fonts/eurosti.eot');
  src: url('../fonts/eurosti.eot?#iefix') format('embedded-opentype'),
       url('../fonts/eurosti.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

