/** RESETS **/

html, body
{
    margin: 0;
    padding: 0;
}

body
{
    margin-top: 70px;
    font-family: EurostileRegular, sans-serif;
}


/**

ACTIONS TOOLTIP

*/
.tooltip2 .help, .tooltip2 p
{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; !important;
    font-size: 10pt;
    font-weight: lighter;
}
.tooltip2 {
    outline: none;
}
.tooltip2 strong
{
    font-family: EurostileRegular, Lucida Grande, sans-serif;
}

.tooltip2:hover
{
    text-decoration:none;
}
.tooltip2 .help {
    z-index:10;display:none; padding:14px 20px;
    margin-top:20px; margin-left:-120px;
    width:300px; line-height:16px;
}
.tooltip2:hover .help{
    display:inline; position:absolute;
    border:2px solid #FFF;  color:#EEE;
    background:#333;
}

/*CSS3 extras*/
.tooltip2 .help
{
    border-radius:2px;
    -webkit-box-shadow: 0px 0px 8px 4px #666;
    -moz-box-shadow: 0px 0px 8px 4px #666;
    box-shadow: 0px 0px 8px 4px #666;
    /*opacity: 0.8;*/
}

.tooltip2 img
{
    margin: 4px;
}

.tooltip2 p
{
    padding-top: 4px;
}

.tooltip2 hr
{
    margin: 4px 0px;
    padding: 2px;
}

em.lime
{
    color: limegreen;
}

.cost {
    color: #00b3ee;
    float: right;
}

.level
{
    color: #a39925;
}

/** END TOOLTIP **/


/**

 PANEL

**/

.panel
{
    background-color: transparent; !important;
    -webkit-box-shadow: 1px 1px 8px black;
    -moz-box-shadow: 1px 1px 8px black;
    box-shadow: 1px 1px 8px black;

}

.panel-body
{
    background-color: rgba(10,10,10, 0.5); !important;
}

/**

LINK

**/

.link {
    float: left;
    margin: 4px;
    padding: 8px;
}

.link:hover
{
    margin: 3px;
    background-color: #DDD;
    border: 1px solid #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.link a
{
    text-decoration: none;
    color: black;
}

.link img, .selected img
{
    border: 1px solid whitesmoke;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.link:hover img,
{
    border: 1px solid #080808;
    -webkit-box-shadow: 0px 0px 6px black;
    -moz-box-shadow: 0px 0px 6px black;
    box-shadow: 0px 0px 6px black;
}

/** SELECTED **/

.selected {
    float: left;
    margin: 4px;
    padding: 8px;
    width: 100%;
}

.selected .list-selected
{
    float: left;
    margin: 2px;
}

.selected i
{
    width: 32px;
    height: 32px;
    color: #461c1c;
    text-shadow: 0 0 2px white;
    float: right;
    vertical-align: middle;
}

.selected span
{
    margin-left: 8px;
}

.selected .target-group
{
    float: right;
    margin-right: 12px;
}

.selected .target-group img
{
    border: none;
    vertical-align: middle;
}

.selected .target-group input[type=text]
{
    font-family: 'EurostileRegular', "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: black;
    border: 1px solid #a39925;
    color: white;
    width: 28px;
    padding: 4px;
}

.selected .target
{
    float: right;
    margin-right: 8px;
    margin-left: 8px;
    padding-top: 12px;
}

.target-toggle img:hover
{
    -webkit-box-shadow: 0 0 3px white;
    -moz-box-shadow: 0 0 3px white;
    box-shadow: 0 0 3px white;
    cursor: pointer;
}

.target-group .active img
{
    -webkit-box-shadow: 1px 1px 4px #a39925, -1px -1px 4px #a39925;
    -moz-box-shadow: 1px 1px 4px #a39925, -1px -1px 4px #a39925;
    box-shadow: 1px 1px 4px #a39925, -1px -1px 4px #a39925;
}

.selected .target span
{
    color: white;
}

.selected i:hover
{
    color: red;
    cursor: pointer;
}

.selected:hover
{
    margin: 3px;
    background-color: #080808;
    border: 1px solid whitesmoke;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
}

/* TIPOGRAPH */
.ffxiv-title
{
    font-family: 'EurostileRegular', sans-serif;
    font-weight: bolder;
    color: #e57c00;
    text-shadow: 0 0 2px #a39925;
}

.ffxiv-title .classjob
{
    width: 40px;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 3px;
}

.classjob:hover
{
    cursor: pointer;
}

.classjob:hover img
{
    background-color: rgba(194, 190, 9, 0.6);
    box-shadow: 1px 1px 2px #f6ec34, -1px -1px 2px #f6ec34;
}

.ffxiv-title hr
{
    margin: 0;
    padding: 0;
}

.ffxiv-tpcost
{
    font-family: 'EurostileRegular', sans-serif;
    font-weight: bolder;
    color: #e57c00;
    text-shadow: 0 0 2px #a39925;
}

.ffxiv-tpcost span
{
    color: whitesmoke;
}

.ffxiv-macro
{
    border: 1px solid white;
    background-color: rgba(0,0,0,0.8);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding: 16px;
    color: white;
}