﻿body
{
    background: url('/images/bg_crystal.jpg') no-repeat center center fixed #000;
    background-size: cover;
    position: static;
    display: block;
}

#crystal_01
{
    position:absolute;
    top:0;
    left:0;
    width:480px;
    height:1000px;
    background:url("/images/bg/crystal_01.png") repeat-y 0 0
}

#crystal_02
{
    position:absolute;
    top:0;
    left:0;
    width:480px;
    height:1000px;
    background:url("/images/bg/crystal_02.png") repeat-y 0 0
}

#crystal_03
{
    position:absolute;
    top:0;
    left:41px;
    width:280px;
    height:1000px;
    background:url("/images/bg/crystal_03.png") repeat-y 0 0
}

#world_bg
{
    position:absolute;
    top:0;
    left:0px
}

#world_cloud
{
    position:absolute;
    top:150px;
    width:1414px;
    height:520px;
    background:url("/images/bg/world_cloud.png") no-repeat 0 0
}

#world_crystal_01
{
    position:absolute;
    top:150px;
    width:2296px;
    height:399px;
    background:url("/images/bg/world_crystal_01.png") repeat-x 0 0
}

#world_crystal_02
{
    position:absolute;
    top:240px;
    left:-189px;
    width:3000px;
    height:169px;
    background:url("/images/bg/world_crystal_02.png") repeat-x 0 0
}

div#wrapper {
    display: none;
    position: absolute;
    width: 100%;
    opacity: 1;
    top: -40px;
    z-index: -1;
}

#crystal {
    position: fixed;
}